

<header>
  <div class="container  header_container">
    <h5 id="color-gray">Hello I'm</h5>
    <h1>Sakhele George Mndaweni</h1>
    <h3  id="dark-bg" class="text-ligh">Software Developer</h3>
    <h6><small>BSC Computer Science and informatics</small></h6>
     <div class="cta">
       <button (click)="downloadFile()" class="btn btn-sm">Download Cv</button>
       <button (click)="letsTalk()" class="btn btn-primary btn-sm">Let's Talk</button>
     </div>
   </div>
</header>
<div class="container">

<div class="project_container">
  <div class="col-4-md">
    <article class="project_item">
      <div class="project_item-image">
          <img src="https://miro.medium.com/max/690/1*EQ18jCQep2Igs9VoRYBVzg.png" alt="Project Image">
      </div>
  </article>
  </div>
  <div class="col-4-md">
    <article class="project_item">
      <div class="project_item-image">
          <img src="https://images.indepth.dev/images/2022/05/External-Configurations-in-Angular-2.jpg" alt="Project Image">
      </div>
  </article>

  </div>
  <div class="col-4-md">
    <article class="project_item">
      <div class="project_item-image">
          <img src="https://c4.wallpaperflare.com/wallpaper/633/56/901/python-programming-text-writing-wallpaper-preview.jpg" alt="Project Image">
      </div>
    </article>

  </div>
  <div class="col-4-md">
    <article class="project_item">
      <div class="project_item-image">
          <img src="https://c4.wallpaperflare.com/wallpaper/284/730/367/computers-1920x1200-java-wallpaper-preview.jpg" alt="Project Image">
      </div>
    </article>

  </div>
 </div>
</div>




